@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    margin: 0;
}

.header {
    background-color: #020617;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #020617;
    padding: 30px;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 15px;
    color: #9ca3af;
}

